<div>


<div class="container">

  <form class="form-signin" name="loginForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" name="username"  class="form-control" placeholder="User Name"  ng-model="userData.username" ng-minlength="3"  required autofocus>
      <span ng-show="loginForm.username.$error.minlength" class="validationWarningText">Username is too short.</span>
    <input type="password" class="form-control" placeholder="Password" required ng-model="userData.password">


    <br>
    <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="SignInForm()" ng-disabled="loginForm.$invalid">Sign in</button>
    <button class="btn btn-lg btn-primary btn-block" ng-click="go('signUp')">Sign up</button>

  </form>

</div> <!-- /container -->


</div>

