<header class="myFormDiv">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">

                        <div class="jumbotron">
                    <h1 class="brand-heading" style="color: #002a80">Hisab4U</h1>
                    <p style="color: #002a80;">
                        Maintain your all Accounts at one place. Hisab4U help to you maintain your expenditure.
                    </p>
                    <a href="#signIn" class="getStarted">
                        Get Started
                    </a>
                            </div>
                </div>
            </div>
        </div>
    </div>
</header>